In [13]:
# IMPORT

# stat
import numpy as np
import pandas as pd
import statistics as stat

# viz

import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt 
%matplotlib inline

# import random, datetime
import random
import datetime

In [64]:
# IMPORT DATA (CSV): 

# sima
zoo=pd.read_zoo('zoo.csv', sep=',')

# header átírással    
birdstrikes = pd.read_csv('birdstrikes.csv', sep=';', header=0,
                       names=["type", "airport", "model", "flightdate",
                                 "id", "airline", "origin", "collected", "sky", "cost"])

In [7]:
# RANDOM

random.random(), round(random.random(),2), random.randint(1,111)

(0.5833236103765496, 0.16, 99)

In [12]:
# DATETIME

datetime.datetime.now()

datetime.datetime(2019, 3, 7, 7, 40, 55, 503869)

In [15]:
# IMPORT
# alap-python nehezn kezeli a csv-t, ezért a pandát használjuk

zoo = pd.read_csv('zoo.csv', sep=',')

In [58]:
# DATA SELECTION

zoo # teljes adatállomány

zoo.head() # első öt sor
zoo.tail() # utolsó öt sor

zoo.animal.head() # oszlop-kijelölés
[[zoo.animal.head(10)]] # oszlop-kijelölés így is lehet, kettős kapcsos zárójel
zoo[['animal', 'water_need']] # többes oszlop-kijelölés
zoo[zoo.animal == 'elephant'] #sor-kijelölés, minden attribútum (oszlop)
zoo[zoo.animal == 'elephant'].water_need #sor-kijelölés, egy adott oszlop (!az oszlopnév nem jelenkik meg!)
zoo[zoo.animal == 'elephant'][zoo.water_need > 500] # többes sor-kijelölés
# zoo[[zoo.animal == 'elephant' and zoo.animal == 'tiger']] # ez azonban nem megy le

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

     animal  uniq_id  water_need
1  elephant     1002         600
2  elephant     1003         550

In [86]:
# GROUP BY
# művelet szükséges mellé!

zoo.groupby('animal').count() # eseteket megszámolja
zoo.groupby('animal').sum() # esetekhez tartozó mennyiséget összeadja

# top 20 reptér, összesített cost a legtöbb

birdstrikes.groupby('airport').sum()[['cost']].sort_values('cost', ascending = False).head(20)

                                 cost
airport
LAGUARDIA NY                 38696402
UNKNOWN                      28340848
DENVER INTL AIRPORT          26096643
SUBIC BAY INTL               23956861
SAN FRANCISCO INTL ARPT      21134735
TROY MUNICIPAL ARPT          12397751
NICE (FRANCE)                10135286
SALT LAKE CITY INTL           9898549
EPPLEY AIRFIELD               9447445
MEMPHIS INTL                  8576798
TONCONTIN INTL                7694043
JAMES M COX DAYTON INTL       7264445
PORTLAND INTL (OR)            7087293
NEWARK LIBERTY INTL ARPT      6960225
LOS ANGELES INTL              6909968
ASTORIA REGIONAL              6338699
WASHINGTON DULLES INTL ARPT   6206507
TULSA INTL                    6073142
MARTIN STATE ARPT             5736020
ADAMS FIELD ARPT              5472136

In [77]:
# DUPLICATE kezelése

# zoo.count() alapból N=22
zoo.drop_duplicates('animal').count() # N=5

# distinct_values = set(zoo['column_01'])-set(zoo['column_01'])

animal        5
uniq_id       5
water_need    5
dtype: int64